.profile_thumbnail {
    background: url(profile_images/canny.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    width: 250px;
    height: 250px;
  }

.gsc_a_t {
  padding-bottom: 1em;
}

.gsc_a_y {
  display: none;
}
.gsc_a_c {
  display: none;
}